<div class="relative min-h-screen bg-center bg-cover bg-no-repeat" style="background-image: url('/images/paises-portada.jpg');">
    <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center">
      <div class="text-center text-yellow-300 px-4">
        <h1 class="text-4xl sm:text-5xl font-bold mb-4">Bienvenido a mi sitio web</h1>
        <p class="text-lg sm:text-xl">"Este es el trabajo final del Modulo 3".</p>
      </div>
    </div>
</div>
  
  