<footer class="bg-yellow-800 text-white py-4 mt-auto shadow-md">
   <div class="max-w-6xl mx-auto px-4 flex flex-col md:flex-row justify-between items-center">
      <p class="text-center md:text-left">&copy; <%= new Date().getFullYear() %> NODO TECNOLOGICO - Módulo 3 - Trabajo Final - by Rocio Abigail Ruiz .</p>
      <div class="mt-4 md:mt-0">
        <p>Contacto: abyruiz.rr@gmail.com</p>
      </div>
    </div>
  </footer>
  