
<nav class="bg-brown-600 text-white shadow-md">
  <div class="container mx-auto px-4 py-3 flex justify-between items-center">
    <h1 class="text-xl font-semibold">Proyecto Países</h1>
    <ul class="flex space-x-4">
      <li><a href="/api" class="hover:underline">Inicio</a></li>
      <li><a href="/api/dashboard-paises" class="hover:underline">Dashboard</a></li>
      <li><a href="/api/paises/agregar" class="hover:underline">Agregar País</a></li>
    </ul>
  </div>
</nav>

<!-- <nav class="bg-yelow-800 text-black-300 p-4 shadow">
    <div class="max-w-6xl mx-auto flex justify-between items-center">
      <div class="text-xl font-bold">
        <img src="/icons/logo.png" alt="Logo" class="h-10 w-auto">
      </div>
      <div class="space-x-4 flex items-center">
        <a href="/api" class="flex items-center gap-2 hover:text-gray-700">
          <img src="/icons/home.svg" alt="Inicio" class="h-5 w-5" />
          Inicio
        </a>
  
        <a href="/api/dashboard" class="flex items-center gap-2 hover:text-gray-700">
          <img src="/icons/superheroe.png" alt="Superhéroes" class="h-5 w-5" />
          Paises
        </a>
  
        <a href="/api/formulario" class="bg-yellow-500 hover:bg-yellow-600 text-black font-bold py-2 px-5 rounded-full shadow-lg transition-all">
          + Agregar nuevo
        </a>
      </div>
    </div>
  </nav> -->
  