
<nav class="bg-yellow-700 text-white shadow-md">
  <div class="container mx-auto px-4 py-3 flex justify-between items-center">
    <h1 class="text-xl font-semibold">Paises Hispanohablantes</h1>
    <div class="space-x-4 flex items-center">
        <a href="/api" class="flex items-center gap-2 hover:text-gray-700">
          <img src="/icons/home.svg" alt="Inicio" class="h-5 w-5" />
          Inicio
        </a>
         <a href="/api/dashboard-paises" class="flex items-center gap-2 hover:text-gray-700">
          🌎 Dashboard
        </a>

       <a href="/api/paises/agregar" class="flex items-center gap-2 hover:text-gray-700">
          + Agregar Pais
       </a>
    </div>
  </div>
</nav>
  